@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: 'Poppins', sans-serif;
    height: 12vh;
}

.nav_container {
    margin: 0 140px;
}

.nav_content {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    list-style: none;
    height: 12vh;
    width: 46%;
    justify-content: space-between;
    align-items: center;
}

.nav_links li a {
    text-decoration: none;
    font-size: 20px;
    color: #08517A;
    font-weight: 500;
}

.active_link {
    content:"";
    max-width:120%;
    border-bottom: 3px solid #08517A;
    text-align: center;
    font-weight: 700 !important;
}

/* Dropdown Button */
.dropbtn {
    padding-left: 4px;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 175%;
    background-color: #fff;
    width:168px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
    padding: 12px 17px;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 16px !important;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.hospitals_border {
    background-color: #E8E8E8;
    height: 1px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.authorize {
    display: flex;
    list-style: none;
    height: 12vh;
    width: 19%;
    justify-content: space-between;
    align-items: center;
}

.authorize li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.authorize_login a{
    color: #DA8F06;;
}

.authorize_signup a{
    background: #DA8F06;
    padding: 7px 21px;
    border-radius: 5px;
    color: #fff;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal_content {
    position: relative;
    width: 552px;
    top: 16%;
    right: -37%;
    transform: translate(50%,-50%);
}

.search {
    background: #F4FBFF;
    border: 1px solid #DA8F06;
    box-sizing: border-box;
    border-radius: 20px;
    width: 470px;
    height: 37px;
    padding-left: 37px;
    outline: none;
}

.search::placeholder {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.753);
}

.fa-search {
    position: relative;
    left: 6%;
    color:  #7B8583;
}

.fa-caret-down {
    color: #DA8F06;
    cursor: pointer;
}
  
  